body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px 40px;
    text-align: center;
    background-color: #e4e4e4;
  }
  h2 {
    color: #333;
  }
  .chart-container{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .chart{
    /*max-width: 50%; /* M치ximo tama침o del gr치fico */
    margin: 20px auto; /* Centrar los gr치ficos */
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 45%;
    box-sizing: border-box;
    height: auto;
  }
  canvas {
    width: 100% !important;
    height: auto !important;
  }

  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tab-button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .tab-button.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .tab-content {
    display: none;
  }
  
  .tab-content.active {
    display: block;
  }

  #globalFilterContainer {
    text-align: center;
    margin-bottom: 20px;
  }
  #globalFilter {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 20px;
  }

  @media (max-width: 1008px) {
    .chart-container {
      flex-direction: column;
    }
    .chart {
      flex: 1 1 100%;
      height: 250px;
    }
  }